/* Add css styling here in Tuesday's Meeting! :) */
body {
    font-family: Arial, sans-serif;
}

h1{
    font-size: 5rem;
    text-align: left;
}

h2{
    font-size: 3rem;
    text-align: left;
}

h3{
    font-size: 1.5rem;
    text-align: left;
}

p{
    font-size: 1rem;
    text-align: left;
}

a {
  color: #333;
}

a:hover {
  background-color: #ddd; /* Background color on hover */
  color: black; /* Text color on hover */
}

.navbar {
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    background-color: #333; /* Background color */
    overflow: hidden; /* Clear floats */
  }
  
  /* Navbar list items */
  .navbar li {
    float: left; /* Float the list items to the left */
  }
  
  /* Navbar links */
  .navbar a {
    display: block; /* Make the links block elements */
    color: white; /* Text color */
    text-align: center; /* Center-align the text */
    padding: 14px 20px; /* Padding around the text */
    text-decoration: none; /* Remove underline */
  }
  