/* Add css styling here in Tuesday's Meeting! :) */
body {
    font-family: Arial, sans-serif;
}

h1{
    font-size: 5rem;
    text-align: left;
}

h2{
    font-size: 3rem;
    text-align: left;
}

h3{
    font-size: 1.5rem;
    text-align: left;
}

p{
    font-size: 1rem;
    text-align: left;
}